<header id="header">
    <div class="icon__menu">
        <i class="fas fa-bars" id="btn_menu" (click)="openCloseSideMenu()"></i>
    </div>
    <div class="perfil__slide">
        <div class="perfil_circle">EP</div>
        <!-- <button>YO</button> -->
        <!-- <i class="fa-solid fa-chevron-right list__arrow"></i> -->
        <div class="menu_profile">
            <h3>Erick Palomino<br><span>Diseñador de Sistemas</span></h3>
            
            <ul>
                <li><i class="fa-solid fa-user"><a>Perfil</a></i></li>
                <li><i class="fa-solid fa-user"><a>Edit Profile</a></i></li>
                <li><i class="fa-solid fa-user"></i><a>Inbox</a></li>
                <li><i class="fa-solid fa-user"></i><a>Settings</a></li>
                <li><i class="fa-solid fa-user"></i><a>Help</a></li>
                <li><i class="fa-solid fa-user"></i><a>Logout</a></li>
            </ul>

        </div>
    </div>
</header>
