header {
    width: calc(100% - 240px);
    height: 72px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right:0;
    z-index: 500;
    background: #ffffff;
    box-shadow: 0 1px 3px -2px gray;
    justify-content: space-between;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.icon__menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555b6d;
    padding: 0px 15px;
    transform: translateX(10px);
}

.icon__menu i {
    font-size: 16px;
    cursor: pointer;
    position: absolute;
}

.perfil__button{
    display: flex;
    top: 0;
}


/***************** ESTILO PARA EL BOTON DE PERFIL***************/

.perfil__slide {
    /* background:red; */
    font-family: 'Poppins', sans-serif;
    background: lightcoral;
    position: relative;
}

.perfil_circle {
    border-radius: 50%;
    background-color: #b36bd4;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
}

.menu_profile{
    background: gray;
    position: absolute;
    width: 200px;
    top: 50px;
    right: 5px;
    border-radius: 15px;
}

 
.menu_profile h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}


.menu_profile h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.perfil__slide .menu_profile::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 12px;
    width: 20px;
    height: 20px;
    background: gray;
    transform: rotate(45deg);
}

