<div class="menu__side" id="menu_side">

    <div class="name__page">
        <i class="fab fa-youtube"></i>
        <h4>NoNameSoft</h4>
    </div>
    
    <ul class="nav__list" *ngFor="let menu_nav of navMenu">
        <ng-container *ngIf="menu_nav.typeNavMenu == 'UN'">
            <li class="list__item">
                <div class="list__button">
                    <i class="{{menu_nav.icoNavMenu}} list__img" ></i>
                    <a href="#" class="nav__link">{{menu_nav.nameSubNavMenu}}</a>
                </div>
            </li>
        </ng-container>
        <ng-container *ngIf="menu_nav.typeNavMenu == 'LI'">
            <li class="list__item">
                <div #buttonOptions (click)="toogleMenu($event, menu_nav.idNavMenu)" class="list__button">
                    <i class="{{menu_nav.icoNavMenu}} list__img" ></i>
                    <a href="#" class="nav__link">{{menu_nav.nameSubNavMenu}}</a>
                    <i class="fa-solid fa-chevron-right list__arrow" [ngClass]="{'rotate_arrow':  idMenuActive == menu_nav.idNavMenu}"></i>
                </div>

                <ul class="list__show">
                    <li *ngFor="let submenu_nav of menu_nav.subNavmenu">
                        <a href="" class="nav__link nav__link--inside">{{submenu_nav.nameSubNavMenu}}</a>
                    </li>
                </ul>
            </li>
        </ng-container>
    </ul>
</div>
